.td {
    background-color: #FFFFFF;
    padding: 15px 32px;
}

.td1 {
    background-color: #85C1E9;
    color: black;
    font-weight: bold;
}


.td2 {
    background-color: #107DC8;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: bold;
}
