<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!-- Local Connection -->
    <add name="connStr" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=encuesta;Trusted_Connection=yes"
      providerName="System.Data.SqlClient" />
    <!-- Remote Connection -->
    <add name="connStr1" connectionString="Data Source=sql5028.smarterasp.net,1433;Initial Catalog=DB_A12BA2_encuesta;User Id=DB_A12BA2_encuesta_admin;Password=octubre23"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
